.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 0 1rem;
    justify-content: center;

}
@media screen and (min-width:704px) {
    .container{
        padding: 0 5rem;
    }
    
}

.sticky{
    /* padding-top: 120px; */
}