/* Header styling */

.header{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 0px -30px 30px 10px black;
    z-index: 3000;
    background-color: var(--Light-Mode-Background);
    color: var(--Light-Mode-Text);
}
@media screen and (min-width:704px) {
    .header{
        padding: 1rem 5rem 1rem 5rem;
    } 
}

/* Headline */
.heading{
    font-size: clamp(0.5rem,5vw,3rem);
}

/* dark Mode container */
.darkmodeContainer{
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: clamp(0.75rem,2.55vw,1rem);
    cursor: pointer;
    height: fit-content;
}

.darkmodeContainer:hover{
    opacity: 0.5;
}
